.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.boxLogin {
  background-color: var(--color-white);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTittle {
  color: var(--color-pink);
  font-family: var(--font-roboto);
}

.boxLoginInputs {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.inputLogin {
  border-bottom: 1px solid var(--color-pink);
  width: 230px;
  height: 30px;
  outline: none;
}

.inputLoginText {
  margin: 20px 0;
}

.esqueceuSenha {
  color: var(--color-pink);
  font-size: 14px;
  margin-top: 4px;
}

.esqueceuSenha:hover {
  cursor: pointer;
}

.boxLoginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--color-pink);
  width: 100%;
  margin-bottom: 30px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  color: var(--color-pink);
  text-decoration: none;
  box-shadow: 1px 1px 0 1px var(--color-pink);
}

.boxLoginCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadastreSe {
  color: var(--color-pink);
  margin-top: 5px;
}

.cadastreSe:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .boxLogin {
    padding: 30px;
  }
}