.header {
  background-color: var(--color-green);
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  color: var(--color-white);
}

.boxLogo {
  display: flex;
  align-items: center;
}

.imgLogo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.entrarMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnEntrar {
  background-color: transparent;
  border: 2px solid var(--color-white);
  font-family: var(--font-roboto);
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 20px;
  margin-right: 20px;
  color: var(--color-white);
  text-decoration: none;
}

.btnEntrar:hover {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-green);
}

.iconHamburguer {
  max-width: 50px;
  max-height: 50px;
}

.iconHamburguer:hover {
  cursor: pointer;
}

.listaHeader {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 25px;
}

.itemListaHeader {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-white);
}

.divEntrarHamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fecharNav {
  font-size: 30px;
  font-weight: 700;
}

#fecharNav:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .header {
    padding: 0 20px;
  }

  .tittleLogo {
    font-size: 24px;
  }

  .imgLogo {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }

  nav {
    z-index: 100;
  }

  .listaHeader {
    flex-direction: column;
    gap: 15px;
    margin-top: 200px;
    background-color: var(--color-green);
    border-radius: 20px;
    justify-content: center;
    padding-bottom: 10px;
  }

  .itemListaHeader {
    font-size: 18px;
    margin-right: 40px;
    
  }
}