:root {
  --color-green: #00d624;
  --color-white: rgb(255, 255, 255);
  --font-roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: var(--font-roboto);
}

.fotoPerfil {
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 50%;
}

.nomeUsuario {
  color: var(--color-green);
}

.pageTittle {
  color: rgb(101, 101, 101);
  margin: 50px;
  font-size: 40px;
}